*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Cabin', sans-serif;
font-family: 'Fira Sans', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'PT Sans', sans-serif;
}

header{
    border-bottom: 10px solid rgb(103, 129, 218);
}

footer{
    border-top: 10px solid rgb(103, 129, 218);
}

main{
    background-color: rgba(45, 40, 124, 0.979);
}
