*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Cabin', sans-serif;
    font-family: 'Fira Sans', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'PT Sans', sans-serif;

    color: white;
    background-color: rgb(9, 9, 48);
}

main{
    padding: 2rem 0;
}

.grid{
    width: 700px;
    height: 700px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    border-radius: 1rem;
}

.cell, .grid{
    border: 1px solid rgba( 255, 255, 255, .6);
}

.cell{
    width: calc(100% / 10);
    height: calc(100% / 10);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color .5s;
}

.active{
    background-color: rgb(58, 58, 114);
}

.cell:hover{
    background-color: rgb(73, 73, 104);
}

#play-button{
    background-color: rgb(9, 9, 48);
    border: 1px solid white;
    color: white;
}

