*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Cabin', sans-serif;
    font-family: 'Fira Sans', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'PT Sans', sans-serif;

    color: white;
    background-color: rgb(9, 9, 48);
}

main{
    padding: 2rem 0;
}

.grid{
    width: 700px;
    height: 700px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

.cell, .grid{
    border: 2px solid white;
}

.cell{
    width: calc(100% / 10);
    height: calc(100% / 10);
    display: flex;
    justify-content: center;
    align-items: center;
}
